{% extends 'layout/layout.html'%}
{% set active_page = "correlation_page" %}

{% block title %}
    Correlations
{% endblock %}

{% block content %}
    <h1>Correlations</h1>
    <p>This scatterplot show the distribution of the data points for the chose values.</p>
<div class="d-flex flex-row pt-5 justify-content-center" onchange="update_graph()">
    <div class="d-flex flex-row">
        <div class="p-2">
            X-axis:
        </div>
        <div>
            <select id="x_axis" class="form-select" aria-label="Default select example"></select><br>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">
            Y-axis:
        </div>
        <div>
            <select id="y_axis" class="form-select" aria-label="Default select example"></select>
        </div>

    </div>
</div>

<div id="chart">

</div>

{% endblock %}



{% block script %}

    <script type="text/javascript">

            // function generating the plotly graph
            function update_graph() {
                let x_axis = columns[$('#x_axis').val()]
                let y_axis = columns[$('#y_axis').val()]

                var layout = {
                   xaxis: { title: x_axis },
                   yaxis: { title: y_axis },
                };

                var trace = {
                     x: Object.values(df[x_axis]),
                     y: Object.values(df[y_axis]),
                     mode: 'markers',
                    type: 'scatter',
                };

                Plotly.newPlot('chart', [trace], layout);
            }

        var columns = {{columns | safe}};
        var df = {{ dfJSON | safe }};

        // Loop through the columns array and append each option to the x_axis and y_axis menus
        $.each(columns, function(index, value) {
            $('#x_axis').append($('<option></option>').val(index).html(value));
            $('#y_axis').append($('<option></option>').val(index).html(value));
        });

        // pre-select menu items (need to supply the index, not value)
        $('#x_axis').val(5)
        $('#y_axis').val(2)

        update_graph();

    </script>



{% endblock %}
